@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

.bg-agenin {
  background-color: #223a58;
}

.bg-menu-selected {
  background-color: #315071;
}

.bg-menu-hover {
  background-color: #315071;
}

.shadow-sidebar {
  box-shadow: 4px 0 10px rgba(160, 160, 160, 0.25);
}

.bg-gradient-background {
  background: linear-gradient(180deg, #ffffff 0%, #f5f8fe 100%);
}

.text-primary {
  color: #28415c;
}

.bg-blue-light {
  background-color: #c7e0ff;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
}

.bg-gradient-saldo {
  background: linear-gradient(180deg, #315070 0%, #223a58 100%);
}

.bg-gradient-referral {
  background: linear-gradient(180deg, #9cecf8 0%, #7ab9e5 100%);
}
